
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ManagerPanel/Views/Shared/_LayoutPage1.cshtml";
}
<div class="breadCrumb">
    <a href="@Url.Action("Index", "Home")">Anasayfa</a> 
</div>

<div class="pageContent">
    <div class="pagetitle">
        <h2>Index</h2>
    </div>
</div>


